<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <style type="text/css">
    #twitter-logo {
        color: #00aced;
    }
    #github-logo {
        color: #333;
    }

    a {
        text-decoration: underline;
    }

    .minheight {
        min-height: 60px;
    }

    .test-result-no-ipv6 {
        background-color: #f8d7da;
    }

    .test-result-partial-ipv6 {
        background-color: #fff3cd;
    }

    .test-result-full-ipv6 {
        background-color: #d4edda;
    }

    .target-link {
        color: black;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1><a href="/">{{ .Title }}</a></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        It is {{ .Year }} and the IPv6 adoption of big websites is bad. Most of them have the money, time and people to provide IPv6 yet they are only reachable over IPv4.
        See the result for each website by clicking on the respective area.<br />
        Are you missing a website? Check out <a href="{{ .GithubRepo }}" target="_blank">the GitHub repository</a> for this project. Open an issue or create a pull request!
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <b>Jump to a category:</b>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        {{ range $category := .Categories }}
        <a class="btn btn-secondary m-1" href="#anchor-{{ $category.GetHTMLAnchor }}">{{ $category.Name }}</a>
        {{ end }}
        </div>
    </div>

    {{ range $category := .Categories }}
    <div id="anchor-{{ $category.GetHTMLAnchor }}" class="row mt-5 align-items-center">
            <div class="col-12">
                <h2>{{ $category.Name }}</h2>
                IPv6 support:
                    <span class="badge badge-pill badge-success">Full: {{ $category.CountIPv6FullSupport }}</span>
                    <span class="badge badge-pill badge-warning">Some: {{ $category.CountIPv6PartialSupport }}</span>
                    <span class="badge badge-pill badge-danger">None: {{ $category.CountIPv6NoSupport }}</span>
            </div>
    </div>

        {{ range $website := $category.Websites }}
        <div class="row align-items-center minheight
            {{ $website.GetCSSBackgroundColor }}
            mt-1 rounded"
            href="#result-div-{{ $website.GetHTMLAnchor }}"
            data-toggle="collapse"
            aria-expanded="false"
            aria-controls="result-div-{{ .Name }}" >

            <div class="col-1 text-center">
                {{ if (ne $website.Icon "") }}
                    {{ if $website.IsFontAwesomeIcon }}
                        <i class="fab {{ $website.Icon }} fa-3x"></i>
                    {{ else }}
                        <img style="max-height: 40px; max-width: 64px;" src="images/{{ $website.Icon }}">
                    {{ end }}
                {{ end }}
            </div>

            <div class="col-2 text-left">
                <a href="{{ $website.URL }}" class="target-link" rel="nofollow" target="_blank">
                    <b>{{ $website.Name }}</b>
                </a>
            </div>

            <div class="col-7 text-left">
                {{ $website.GetSupportMessage }}
            </div>

            <div class="col-2 text-right">
                {{ if (ne $website.Twitter "") }}
                    <a target="_blank" href="http://twitter.com/home/?status={{ $website.GetTwitterMessage }}">
                        Tell 'em on <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                {{ end }}
            </div>
        </div>

        <div id="result-div-{{ $website.GetHTMLAnchor }}" class="row collapse border-right border-left border-bottom border mb-2">
            <div class="col-1"><!-- Icon spacing --></div>
            <div class="col-11">
                <div class="row">
                    <div class="col-12">
                        A website is served from one or more domains. Each one is checked using multiple public available DNS resolvers. Each resolver has to return an AAAA record
                        to pass the test. Here are the results:
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-3"><b>Domain</b></div>
                    <div class="col-3"><b>Resolver provider</b></div>
                    <div class="col-4"><b>Resolver IPs</b></div>
                    <div class="col-2 text-center"><b>Found AAAA</b></div>
                </div>

                {{ range $domain := $website.Domains }}
                <div class="row">
                    <div class="col-3 border-top">
                        {{ $domain.Domain }}
                    </div>
                    <div class="col-9">
                        {{ range $resolverResult := $domain.ResolverResults }}
                        <div class="row border-top">
                            <div class="col-4">
                                {{ $resolverResult.ResolverProvider.Name }}
                            </div>
                            <div class="col-8">
                                {{ range $resolver := $resolverResult.ResolverResults }}
                                <div class="row">
                                    <div class="col-8">{{ $resolver.Resolver.Address }}</div>
                                    <div class="col-4 text-center">
                                        {{ if $resolver.QuadAFound }}
                                        <span class="badge badge-success">Yes</span>
                                        {{ else }}
                                        <span class="badge badge-danger">No</span>
                                        {{ end }}
                                    </div>
                                </div>
                                {{ end }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    {{ end }}

    <hr/>
    <div class="row">
        <div class="col-8">
            This page is generated every couple of minutes. Last update was at {{ .CreationTime }}
        </div>
        <div class="col-4 text-right">
            <a href="https://github.com/andir/ipv6.watch" title="GitHub" target="_blank">
                <i class="fab fa-github fa-3x" id="github-logo"></i>
            </a>
            <a href="https://twitter.com/ipv6watch" title="Twitter" target="_blank">
                <i class="fab fa-twitter fa-3x" id="twitter-logo"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            The used logos are taken from FontAwesome (if available), from Wikipedia or the respective websites media center.
            Links to the source files and/or licences are stored in the <a href="https://github.com/andir/ipv6.watch" target="_blank">GitHub repository</a> from this project.<br />
            If you don't want your logo to be used on this site: Don't contact a lawyer! Please open an issue on GitHub and we will surely find a solution.
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
