<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <meta name="description" content="{{ .WebsiteDescription }}" />
    <meta name="keywords" content="ipv6, ipv6 adoption" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .WebsiteDescription }}" />
    <meta name="twitter:creator" content="@DerVeloc1ty" />
    <meta name="twitter:site" content="@DerVeloc1ty" />
    <meta name="twitter:image" content="{{ .WebsiteURL }}/images/World_IPv6_launch_logo_512.png" />

    <style type="text/css">
    #twitter-logo {
        color: #00aced;
    }
    #github-logo {
        color: #333;
    }

    a {
        text-decoration: underline;
    }

    .a-no-underline {
        text-decoration: none;
    }

    .minheight {
        min-height: 60px;
    }

    .test-result-no-ipv6 {
        background-color: #f8d7da;
    }

    .test-result-partial-ipv6 {
        background-color: #fff3cd;
    }

    .test-result-full-ipv6 {
        background-color: #d4edda;
    }

    .target-link {
        color: black;
    }

    .logo {
        max-height: 40px;
        max-width: 64px;
    }

    ul.emojilist {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li.emojilist-item::before {
        content: "✅ ";
    }

    .infoemoji {
        font-size:2rem;
        width:100%;
    }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>{{ .Title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        It is {{ .Year }} and the IPv6 adoption of big websites is bad. Most of them have the money, time and people to
        support IPv6 on their websites yet they are only reachable over IPv4. The goal of this website is to provide an
        overview which websites or services are reachable over IPv6 and which are not. You'll probably spot some
        similarities, don't you?<br />
        <br />
        Tipp: If you click on a websites area additional details will pop up. Are you missing a website? Check out <a href="{{ .GithubRepo }}" target="_blank">the GitHub repository</a> for this project. Open an issue or create a pull request!
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <h3>Jump to a category:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        {{ range $category := .Categories }}
        <a class="a-no-underline btn btn-secondary m-1" href="#anchor-{{ $category.GetHTMLAnchor }}">{{ $category.Name }}</a>
        {{ end }}
        </div>
    </div>

    {{ range $category := .Categories }}
    <div id="anchor-{{ $category.GetHTMLAnchor }}" class="row mt-5 align-items-center">
            <div class="col-12">
                <h2>{{ $category.Name }}</h2>
                IPv6 support:
                    <span class="badge badge-pill badge-success">Full: {{ $category.CountIPv6FullSupport }}</span>
                    <span class="badge badge-pill badge-warning">Some: {{ $category.CountIPv6PartialSupport }}</span>
                    <span class="badge badge-pill badge-danger">None: {{ $category.CountIPv6NoSupport }}</span>
            </div>
    </div>

        {{ range $website := $category.Websites }}
        <div class="row align-items-center minheight {{ $website.GetCSSBackgroundColor }} border {{ $website.GetBorderColor }} mt-1 rounded"
            href="#result-div-{{ $website.GetHTMLAnchor }}-{{ $category.GetHTMLAnchor }}" data-toggle="collapse" aria-expanded="false" aria-controls="result-div-{{ .Name }}" >

            <div class="col-md-1 text-center">
                {{ if (ne $website.Icon "") }}
                    {{ if $website.IsFontAwesomeIcon }}
                        <i class="fab {{ $website.Icon }} fa-3x"></i>
                    {{ else }}
                        <img class="logo" src="images/{{ $website.Icon }}" alt="Logo of {{ $website.Name }}" />
                    {{ end }}
                {{ end }}
            </div>

            <div class="col-md-2 text-left">
                <a href="{{ $website.URL }}" class="target-link" rel="nofollow" target="_blank">
                    <b>{{ $website.Name }}</b>
                </a>
            </div>

            <div class="col-md-6 text-left">
                {{ $website.GetSupportMessage }}
            </div>

            <div class="col-md-1 text-right">
                {{ if ne (len $website.Tags) 0 }}
                <span class="infoemoji">✳️</span>
                {{ else }}
                <!-- Placeholder -->
                {{ end }}
            </div>

            <div class="col-md-2 text-right">
                {{ if (ne $website.Twitter "") }}
                    <a target="_blank" href="http://twitter.com/home/?status={{ $website.GetTwitterMessage }}">
                        Tell 'em on <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                {{ end }}
            </div>
        </div>

        <div id="result-div-{{ $website.GetHTMLAnchor }}-{{ $category.GetHTMLAnchor }}" class="row collapse border-right border-left border-bottom {{ $website.GetBorderColor }} mb-2 pb-2">
            <div class="row w-100">
                <div class="col-1"><!-- Icon spacing --></div>
                <div class="col-11">

                    <div class="row">
                        <div class="col-12">
                            A website is served from one or more domains. Each one is checked using multiple public available DNS resolvers.
                            Each resolver has to return at least one AAAA record to pass the test. These results were gathered in {{ printf "%.1f" $website.CheckDurationInSeconds }} seconds:
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-3"><b>Domain</b></div>
                        <div class="col-md-3"><b>Resolver provider</b></div>
                        <div class="col-md-4"><b>Resolver IPs</b></div>
                        <div class="col-md-2 text-center"><b>Found AAAA?</b></div>
                    </div>

                    {{ range $domain := $website.Domains }}
                    <div class="row">
                        <div class="col-md-3 border-top">
                            {{ $domain.Domain }}
                        </div>
                        <div class="col-md-9">
                            {{ range $resolverResult := $domain.ResolverResults }}
                            <div class="row border-top">
                                <div class="col-md-4">
                                    {{ $resolverResult.ResolverProvider.Name }}
                                </div>
                                <div class="col-md-8">
                                    {{ range $resolver := $resolverResult.ResolverResults }}
                                    <div class="row">
                                        <div class="col-md-8">{{ $resolver.Resolver.Address }}</div>
                                        <div class="col-md-4 text-center">
                                            {{ if $resolver.QuadAFound }}
                                            <span class="badge badge-success">Yes</span>
                                            {{ else }}
                                            <span class="badge badge-danger">No</span>
                                            {{ end }}
                                        </div>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{ if ne (len $website.Tags) 0 }}
            <div class="row mt-3 w-100">
                <div class="col-md-1"><!-- Placeholder --></div>
                <div class="col-md-11 alert alert-secondary">
                    <b>Heads up! This website/provider has some special perks:</b>

                    <ul class="emojilist">
                        {{ range $tag := $website.Tags }}
                            {{ if eq $tag "isp-providing-ipv6-to-private-customers" }}
                            <li class="emojilist-item">ISP providing an IPv6 prefix to private customers</li>
                            {{ else if eq $tag "isp-providing-ipv6-to-business-customers" }}
                            <li class="emojilist-item">ISP providing an IPv6 prefix to business customers</li>
                            {{ else if eq $tag "isp-providing-fixed-ipv6-prefix-to-business-customers" }}
                            <li class="emojilist-item">ISP providing a fixed IPv6 prefix to business customers</li>
                            {{ else if eq $tag "cloud-provider-with-ipv6-support" }}
                            <li class="emojilist-item">Cloud provider with IPv6 support</li>
                            {{ end }}
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}
    {{ end }}

    <hr/>
    <div class="row">
        <div class="col-8">
            This page is generated every couple of minutes. Last update was at {{ .CreationTime }}
        </div>
        <div class="col-4 text-right">
            <a href="{{ .GithubRepo }}" title="GitHub" target="_blank">
                <i class="fab fa-github fa-3x" id="github-logo"></i>
            </a>
            <a href="https://twitter.com/DerVeloc1ty" title="Twitter" target="_blank">
                <i class="fab fa-twitter fa-3x" id="twitter-logo"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            The used logos are taken from FontAwesome (if available), from Wikipedia or the websites media center.
            Links to the source files and/or licences are stored in the projects <a href="{{ .GithubRepo }}" target="_blank">GitHub repository</a>.<br />
            If you don't want your logo being used on this site: Please open an issue on GitHub and we will surely find a solution.
        </div>
        <div class="col-12">
            This page is a fork of <a href="https://github.com/andir/ipv6.watch" target="_blank">andir/ipv6.watch</a>
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
